* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  color: #888;
  background: #333;
  padding: 2rem;
}

.profile {
  width: 100px;
}

.message {
  width: 45%;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem;
}

.container {
  max-width: 400px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
}

.details {
  margin-top: -60px;
}

.card-img-top {
  height: 46vh;
  object-fit: cover;
}
